/*
 * Overlay for Raspberry Pi Pico 2 W (RP2350)
 * Defines Harmonic Output GPIOs and configures Bluetooth HCI
 */

/ {
    harmonic_output: harmonic_output {
        compatible = "gpio-keys";
        /* Using GPIO 2 and 3 for Harmonic Signal output */
        signal_a: signal_a {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Harmonic Signal A";
        };
        signal_b: signal_b {
            gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
            label = "Harmonic Signal B";
        };
    };
    
    aliases {
        harmonic-a = &signal_a;
        harmonic-b = &signal_b;
    };
    
    chosen {
        zephyr,bt-hci = &cyw43;
    };
};

/* Label the existing airoc-wifi node in the board dts so we can reference it */
&pio0_spi0 {
    cyw43: airoc-wifi@0 {
    };
};
